.fullbody {
    /* background: url("./Images/hero-bg.jpg") no-repeat ; */
    background-image: url("./Images/hero-bg.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* width: auto;
    height:auto; */

}

.h-500 {
    height: 530px;
}

.b-20 {
    border-radius: 25px;
}

.mt-100 {
    margin-top: 145px;
    font-size: 20px;
    color: white;
}

.mt-50 {
    margin-top: 50px;
    font-size: 20px;
}

.text-font .nav-link {
    color: white !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand {
    color: white !important;
}

.form-control {
    width: auto;
}

.nav-item:hover .nav-link {
    color: yellow !important;
}

@media (min-width: 992px) {
    .navbar-nav .nav-item {
        margin-left: 15px;
        margin-right: 15px;
    }
}

.b-rad {
    border-radius: 50%;
}

@media (max-width:986px) and (min-width:750px) {
    .md {
        margin-left: 100px;
        margin-top: 40px;
    }
}


.img-box img {
    border: 5px solid yellow;

    border-radius: 50%;
}

/* .m-6{
margin: 70px;
} */

.detail-box {
    text-align: center;
    color: white;
}

.box-rad {
    border-radius: 10px;
}

.h-100 {
    height: 50px;
}

.img-sec {
    height: 250px;
    background-color: whitesmoke;
    border-radius: 10px;
}

.d-section {
    height: 250px;
    border-bottom: 10px;
}

@media (max-width:548px) and (min-width:446px) {
    .d-section {
        height: 180px;
    }
}

@media (max-width:432px) {
    .sm-image {
        height: 300px;
    }

    .head {
        font-size: 25px;
    }

    .para {
        font-size: 10px;
    }
}

@media (min-width:768px) {
    .pt-md-50 {
        margin-top: 65px;
        margin-bottom: 65px;
    }
    .pl-20{
        padding-left:20px;
    }
}

.custom-input {
    width: 100%; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    font-size: 1.25rem; /* Adjust font size as needed */
}

@media (max-width:576px) {
    .custom-input {
        width: 100%; /* Adjust width as needed */
        height: 25px; /* Adjust height as needed */
        font-size: 0.75rem; /* Adjust font size as needed */
        /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    }
}

.ml{
    margin-left:8px;
}